@media (max-width: 1460px) {
    .navigation-buttons {
        margin-top: 45%;
    }

    .about,
    .projects,
    .contact {
        font-size: 350%;
    }
}

@media (max-width: 1024px) {
    .navigation-buttons {
        margin-top: 65%;
    }
}

@media (max-width: 839px) {
    .navigation-buttons {
        margin-top: 200%;
        padding-left: 50%;
    }
}

@media (max-width: 768px) {
    .navigation-buttons {
        margin-top: 250%;
    }
}

@media (max-width: 570px) {
    .navigation-buttons {
        padding-left: 0;
    }
}