.navigation-buttons {
    float: left;
    margin: 26% 0 0 45%;
}

.about,
.projects,
.contact {
    font-size: 400%;
    margin: 100% 0;
    color: lightblue;
}

.about:hover,
.projects:hover,
.contact:hover {
    color: black;
}

@media (max-width: 1460px) {
    .navigation-buttons {
        margin-top: 45%;
    }

    .about,
    .projects,
    .contact {
        font-size: 350%;
    }
}

@media (max-width: 1024px) {
    .navigation-buttons {
        margin-top: 65%;
    }

    .about,
    .projects,
    .contact {
        font-size: 300%;
    }
}

@media (max-width: 839px) {
    .navigation-buttons {
        margin-top: 200%;
        padding-left: 50%;
    }
}

@media (max-width: 768px) {
    .navigation-buttons {
        margin-top: 250%;
    }

    .about,
    .projects,
    .contact {
        font-size: 275%;
    }
}

@media (max-width: 570px) {
    .navigation-buttons {
        padding-left: 0;
    }

    .about,
    .projects,
    .contact {
        font-size: 250%;
    }
}