.social-links,
.contact-info {
    float: center;
}

.social-links i,
.contact-info i {
    color: lightcyan;
    font-size: 3em;
    padding: 0 8px 0 35px;
    margin-top: 30px;
}

.social-links i:hover,
.contact-info i:hover {
    color: black;
}

.contact-info {
    font-size: 20px;
}

.contact-info i {
    font-size: 30px;
}

@media (max-width: 1460px) {
    .contact-info i {
        display: block;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .social-links i {
        font-size: 200%;
        margin: 0;
    }

    .contact-info {
        font-size: 110%;
    }

    .contact-info i {
        font-size: 150%;
    }
}

@media (max-width: 570px) {
    .social-links i {
        font-size: 150%;
        padding-right: 0;
    }

    .contact-info {
        font-size: 110%;
    }

    .contact-info i {
        font-size: 150%;
    }
}

@media (max-width: 480px) {
    .social-links i {
        font-size: 200%;
    }
}