/* ------------------------------ Landing page ----------------------------------- */

.landing-page {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.landing-grid {
  background-image: url(./mainbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.navigation-buttons {
  float: left;
  margin: 26% 0 0 45%;
}

.about,
.projects,
.contact {
  font-size: 400%;
  margin: 100% 0;
  color: lightblue;
}

.about:hover,
.projects:hover,
.contact:hover {
  color: black;
}

.banner-text {
  width: 60%;
  margin: 5% 10% auto auto;
  border-radius: 8px;
  color: lightcyan;
  transform: translateY(90%);
}

.banner-text h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  text-align: right;
  margin: 0;
  line-height: 1;
}

.banner-text h2 {
  font-size: 33px;
  background-color: rgba(224, 255, 255, 0.4);
  ;
  color: black;
  margin: 0;
  line-height: 1;
}

.banner-text p {
  font-size: 15px;
  padding: 1em;
  margin: 0;
}

.social-links,
.contact-info {
  float: center;
}

.social-links i,
.contact-info i {
  color: lightcyan;
  font-size: 3em;
  padding: 0 8px 0 35px;
  margin-top: 30px;
}

.social-links i:hover,
.contact-info i:hover {
  color: black;
}

.contact-info {
  font-size: 20px;
}

.contact-info i {
  font-size: 30px;
}

/* ------------------------------------------------------------------------------- */

/* ------------------------------- About page ------------------------------------ */
.about-body {
  background-image: url(./realdiamond.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(81, 144, 238);
  background-position: right;
  margin: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0;
  color: white;
}

.about-body h3,
.about-body h4 {
  margin: 0;
}

.about-grid {
  text-align: center;
  justify-content: center;
}

.profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 2%;
}

.statement-container {
  padding: 20px 15px;
  background-color: rgb(155, 84, 149);
  border-radius: 2%;
}

.skills-container {
  margin: auto;
}

.frontend-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.back-tech,
.other-tech {
  display: flex;
  justify-content: space-evenly;
}

.tech-row {
  margin: 3% 0;
}

.tech-row img {
  height: 50px;
  width: 50px;
  border-radius: 10%;
}


/* ------------------------------------------------------------------------------- */

/* ------------------------------ Project page ----------------------------------- */

.mdl-js-layout {
  background-color: lightblue;
}

.mdl-js-tabs {
  background-color: white;
}

.mdl-js-tabs .mdl-tabs__tab-bar {
  border-bottom: none;
}

.projects-grid,
.projects-grid h3 {
  display: flex;
  margin: 25px 0;
  color: white;
  font-weight: bold;
}

.projects-grid img {
  width: 400px;
  height: 250px;
  padding: 0;
  border-radius: 2%;
}

.csharp img {
  width: 100%;
  height: 100%;
}

.csharp h3,
.csharp p {
  padding-left: 3%;
}

.csharp h3 {
  margin-top: -57%;
}

a.mdl-button.mdl-button--colored {
  color: rgb(84, 153, 177);
  font-weight: bold;
  font-size: 25px;
  border: 1.5px dashed white;
}

.colorgame-panel,
.todolist-panel,
.movieapp-panel,
.restblogapp-panel,
.yelpcamp-panel,
.laserdefender-panel,
.blockbreaker-panel,
.bowlingstrike-panel {
  border-radius: 2%;
}

.colorgame-panel {
  background-color: rgb(243, 220, 223);
}

.todolist-panel {
  background-color: rgb(225, 177, 238);
}

.movieapp-panel {
  background-color: rgb(188, 179, 190);
}

.restblogapp-panel {
  background-color: rgb(129, 173, 202);
}

.yelpcamp-panel {
  background-color: rgb(221, 193, 142);
}

.laserdefender-panel {
  background-color: rgb(221, 193, 142);
}

.blockbreaker-panel {
  background-color: rgb(221, 193, 142);
}

.bowlingstrike-panel {
  background-color: rgb(221, 193, 142);
}

.laserdefender-panel a.mdl-button.mdl-button--colored,
.blockbreaker-panel a.mdl-button.mdl-button--colored {
  margin: -10% 0 0 72%;
}

.projects-container h4 {
  text-align: center;
}

.projects-container h4 a {
  color: rgb(111, 111, 250);
}

.projects-container h4 a:hover {
  color: rgb(57, 57, 185);
}

/* ------------------------------------------------------------------------------- */

/* ----------------------------- Media queries ----------------------------------- */

@media (max-width: 1920px) {
  .banner-text {
    width: 70%;
  }
}

@media (max-width: 1460px) {
  .navigation-buttons {
    margin-top: 45%;
  }

  .about,
  .projects,
  .contact {
    font-size: 350%;
  }

  .banner-text {
    margin: -5% 15% auto auto;
  }

  .banner-text h1 {
    font-size: 60px;
  }

  .banner-text h2 {
    font-size: 2vw;
  }

  .contact-info i {
    display: block;
    font-size: 30px;
  }
}


@media (max-width: 1370px) {
  .statement-container p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .tech-row img {
    height: 35px;
    width: 35px;
  }

  .tech-row p {
    font: 11px;
  }
}


@media (max-width: 1186px) {
  .statement-container p {
    font-size: 10px;
  }

  .institute h5 {
    font-size: 17px;
  }

  .tech-row p {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {

  .navigation-buttons {
    margin-top: 65%;
  }

  .about,
  .projects,
  .contact {
    font-size: 300%;
  }

  .banner-text {
    margin: -8% 0 0 20%;
  }

  .banner-text h1 {
    font-size: 40px;
  }

  .profile-pic,
  .statement-container {
    margin-top: 30px;
  }

}


@media (max-width: 839px) {

  .navigation-buttons {
    margin-top: 200%;
    padding-left: 50%;
  }

  .banner-text {
    width: 65%;
    padding-left: 25%;
  }

}


@media (max-width: 768px) {

  .navigation-buttons {
    margin-top: 250%;
  }

  .about,
  .projects,
  .contact {
    font-size: 275%;
  }

  .banner-text {
    padding-top: 5%;
  }

  .social-links i {
    font-size: 200%;
    margin: 0;
  }

  .contact-info {
    font-size: 110%;
  }

  .contact-info i {
    font-size: 150%;
  }

}


@media (max-width: 570px) {

  .navigation-buttons {
    padding-left: 0;
  }

  .about,
  .projects,
  .contact {
    font-size: 250%;
  }

  .banner-text {
    padding-top: 1%;
    padding-left: 40%;
    width: 70%;
    margin: 0;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .social-links i {
    font-size: 150%;
    padding-right: 0;
  }

  .contact-info {
    font-size: 110%;
  }

  .contact-info i {
    font-size: 150%;
  }

}


@media (max-width: 480px) {
  .mdl-cell--1-col-tablet {
    display: none;
  }

  .banner-text {
    width: 50%;
  }

  .social-links i {
    font-size: 125%;
  }
}


@media (max-width: 480px) {

  .banner-text h1 {
    font-size: 25px;
  }

  .social-links i {
    font-size: 200%;
  }
}